KLI_API_KEY_RAW=your_raw_corpus_key_here
KLI_API_KEY_ANNOTATED=your_annotated_corpus_key_here
KLI_API_KEY_PARALLEL=your_parallel_corpus_key_here
KLI_API_KEY_RAW_2024=your_raw_2024_corpus_key_here
KLI_API_KEY_ANNOTATED_2024=your_annotated_2024_corpus_key_here
KLI_API_KEY_PARALLEL_KO_KSL_2022=your_korean_korean_sign_parallel_2022_key_here
KLI_API_KEY_PARALLEL_KO_KSL_2023=your_korean_korean_sign_parallel_2023_key_here
KLI_API_KEY_PARALLEL_KO_KSL_2024=your_korean_korean_sign_parallel_2024_key_here
KLI_API_KEY_PARALLEL_KSL_KO_2024=your_korean_sign_korean_parallel_2024_key_here

NAS_URL=https://metabytree.synology.me:45006/
NAS_USER=your_nas_username_here
NAS_PASS=your_nas_password_here
NAS_VIDEO_BASE_PATH=/video/Signlanguage
NAS_ALLOW_SELF_SIGNED=false

VITE_PROXY_BASE_URL=http://127.0.0.1:8788
